pytz
GitPython
aiosmtplib
PyMySQL==0.9.2
aiomysql
aiofiles
aioredis
requests
pymysql-pooling
sanic
ujson
aiohttp
cchardet
aiodns
docopt
pycryptodome
leveldb
twilio
limits
redis
mycli
litecli
setproctitle
tinydb
Pillow